
*{
    margin: 0;
    padding: 0;
}
.main_home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 1rem;
}
.main_image{
    width: 70%;
    height: 500px;
}
.card__style{
    width: 100%;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    margin-bottom: 60px;
    margin-top: 30px;
    
}
.title_main{
    font-size: 1rem;
}
.imgcard{
    width: 35rem;
}
.visit_btn{
    width: 30%;
}
.title_head{
    width: 100%;
    display: flex;
    justify-content: center;
}
h4{
    padding: 6rem;
}
.title1{
    width: 50%;
    
}
.title5{
    margin-top: 2rem;
}
.title3{
    margin-left: 20px;
    width: 50%;
}
.close-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .close-button.rotate {
    transform: rotate(90deg);
  }
@media screen and (max-width: 650px) and (min-width:250px) {
    .main_image{
        width: 85%;
        height: 437px;
    }
    .main_btns{
        flex-direction: column;
        width: 100%;
    }
    .main_btns1{
        margin-bottom: 15px;
    }
    .title_main{
        font-size: .6rem;
    }
    .visit_btn{
        width: 56%;
    }
    .title1{
        font-size: .6rem;
        width: 70%;
    }
    .title3{
        margin-left: 20px;
        width: 100%;
        flex-direction: column;
    }
    .card_image{
        flex-direction: column;
    }
    .title4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main_home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 1rem;
}
.card__style{
    width: 100%;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    margin-bottom: 60px;
    margin-top: 30px;
    
}
.imgcard{
    width: 35rem;
}
h4{
    font-size: 1rem;
}
}